.blog {
    color : pink;
    text-align: center;
}
#background-img{
    height: 400px;
    background-image: url(../../images/person.png);
    /* background-size: 50%; */
    background-size: cover;
    background-size: contain ;
    /* background-repeat: no-repeat; */
    /* background-size: 10%; */
    /* background-position: 30px; */
    /* background-position:top right; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-color: beige;
    background-blend-mode: difference;
}